// Layout Settings for the compositor
layout {
    gaps 10
    // center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    default-column-width {
        proportion 0.5
    }
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    background-color "transparent"
}
