// Window Management Rules for the compositor
window-rule {
    // open-maximized true
    geometry-corner-radius 20
    clip-to-geometry true
}
window-rule {
    match app-id="firefox"
    match app-id="zen-beta"
    match app-id="gimp"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    match app-id="dev.zed.Zed"
    default-column-width {
        proportion 1.0
    }
 // open-maximized true
}
window-rule {
    match app-id="org.gnome.Calculator"
    match app-id="steam"
    match app-id="Alacritty"
    match app-id="org.pulseaudio.pavucontrol"
    match app-id="waypaper"
    match app-id="thunar"
    match app-id="org.gnome.FileRoller"
    match title="File Operation Progress"
    open-floating true
    shadow {
        on
        softness 50
        spread 8
        offset x=0 y=8
        color "#00000090"
    }
}

