layout {

    focus-ring {
        active-color   "#ffb3b1"
        inactive-color "#1e100f"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb3b1"
        inactive-color "#1e100f"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#ffb3b1"
        inactive-color "#dd3642"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb3b180"
    }
}

recent-windows {
    highlight {
        active-color "#ffb3b1"
        urgent-color "#ffb4ab"
    }
}
