layout {

    focus-ring {
        active-color   "#ffb4aa"
        inactive-color "#1f0f0d"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb4aa"
        inactive-color "#1f0f0d"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#ffb4aa"
        inactive-color "#c5010b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb4aa80"
    }
}

recent-windows {
    highlight {
        active-color "#ffb4aa"
        urgent-color "#ffb4ab"
    }
}
