layout {

    focus-ring {
        active-color   "#aac7ff"
        inactive-color "#121317"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#aac7ff"
        inactive-color "#121317"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#aac7ff"
        inactive-color "#3f67a7"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#aac7ff80"
    }
}

recent-windows {
    highlight {
        active-color "#aac7ff"
        urgent-color "#ffb4ab"
    }
}
