# === COMMON SETTINGS === #
uniform_page_widths 1
scroll_past_document_ends 0
startup_commands toggle_statusbar
prerendered_page_count 2
num_cached_pages 20

# === GRUVBOX HARD DARK === #
# startup_commands toggle_custom_color
background_color           #1d2021
text_highlight_color       #fabd2f
visual_mark_color          #665c54
search_highlight_color     #fabd2f
link_highlight_color       #83a598
synctex_highlight_color    #b8bb26
highlight_color_a          #fabd2f
highlight_color_b          #b8bb26
highlight_color_c          #8ec07c
highlight_color_d          #d3869b
highlight_color_e          #d3869b
highlight_color_f          #fb4934
highlight_color_g          #fabd2f
custom_background_color    #1d2021
custom_text_color          #ebdbb2
ui_text_color              #ebdbb2
ui_background_color        #3c3836
ui_selected_text_color     #ebdbb2
ui_selected_background_color #504945
