* {
    selected-text:	#bcc3ff;
    selected-background: #3b4279;

    prompt-text: #c4c5dd;
    prompt-background: #434559;

    normal-text: #3b4279;
    normal-background: #90909a0d;

    window-border: #e6bad7;
    window-background: #90909a0D;

    scrollbar-filled: #2d2f42;
    scrollbar-empty: #e0e1f9;

    error-message: #ffb4ab;
    error-message-border: #690005;
}
